.first-page {
  height: 92vh;
  width: 100%;
  max-width: 1200px; /* Adjust this value as needed for 14-inch screen content width */
  margin: 0 auto; /* Center horizontally */
  padding: 0 7vw; /* Default padding for smaller screens */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 15vw;
  
}

.greeting {
  font-family: 'SF Mono';
  color: white;
  margin-bottom: 0.5em;
  font-size: 0.9rem;
  font-weight: 400;
}

.name {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 9vw;
  
  color: #d2e2fd;
  margin-top: 0px;
  margin-bottom: 0px;
}


.description-1 {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 6vw;
  color: #afbcd2 ;
  margin-top: 0;
  margin-bottom: 0.1em;
}

.description-2-container {
  width: 90%;
}

.description-2 {
  font-family: 'Open Sans';
  font-weight: 500;
  font-size: 4vw;

  color: #7a8394;

  margin-bottom: 3em;
}

.hero-button {
  height: 13vw;
  width: 47vw;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  border-color: #d2e2fd;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;

  position: relative;

  transition:  0.2s;
}

.hero-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.15em #d2e2fd;
  opacity: 0;
  transition: opacity 100ms linear;
}

.hero-button:hover::after {
  opacity: 1;
  cursor: pointer;
}

.hero-button-text {
  font-size: 4vw;
  font-weight: 300;
  color: #d2e2fd;
  font-family: 'Source Sans 3';
}

.hero-button a {
  text-decoration: none;

}

@media (min-width: 768px) {/*small tablet */
  .greeting {
    font-size: 1.2rem;
  }  

  .name {
    font-size: 3rem;
  }
  
  .description-1 {
    font-size: 2.5rem;
  }

  .description-2 {
    font-size: 1.2rem;
  }

  .hero-button {
    max-height: 90px;
    max-width: 280px;
  }

  .hero-button-text {
    font-size: 1.5rem;
  }

  .hero-button {
    height: 70px;
    width: 47vw;
  }
}


@media (min-width: 769px) { /*big tablet */
  .greeting {
    font-size: 1.2rem;
  }  

  .name {
    font-size: 3rem;
  }
  
  .description-1 {
    font-size: 2.5rem;
  }

  .description-2 {
    font-size: 1.2rem;
  }

  .hero-button {
    max-height: 90px;
    max-width: 280px;
  }

  .hero-button-text {
    font-size: 1.4rem;
  }

  .hero {
    margin-left: 0px;
  }

  .description-2-container {
    width: 77%;
  }
}

@media (min-width: 1000px) and (min-height: 670px) { /* dekstop */
  .first-page {
    padding: 0 11vw; /* Default padding for smaller screens */
  }

  .greeting {
    font-size: 1.188rem;
  }
  
  .name {
    font-size: 4.1rem;
  }
  
  .description-1 {
    font-size: 3.6rem;
  }

  .description-2 {
    font-size: 1.3rem;
    width: 60%;
  }

  .hero-button-text {
    font-size: 1.3rem;
  }
  .hero {
    padding-top: 9vw;
  }
  
}
