.someofmy-number {
  font-size: 3.8vw;
  font-family: 'SF Mono';
  color: #ef233c;
  font-weight: 400;
}

.someofmy-text {
  font-size: 6.2vw;
  font-weight: 600;
  color:  white;
  margin-top: 0;
  font-family: 'Source Sans 3';
}

.test {
  margin-top: 20px;
}

.project-container-mobile {
  position: relative;
  left: 0px;
  overflow: hidden;
}

.project-mobile {
  height: 100%;
  width: 100%;
  z-index: 0;
  border-radius: 3px;
}

.project-overlay-mobile {
  border: none;
  height: 99.1%;
  width: 100.2%;
  background-color: rgba(59, 61, 88, 0.97);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  display: flex;
  flex-direction: column;

  border-radius: 3px;
}

.featured-project {
  color: #8d99ae;
  font-family: 'SF Mono';
  font-size: 3.2vw;
  font-weight: 600;
  margin: 0;
  padding-top: 7vw;
  padding-left: 5vw;
  margin-bottom: 1.5vw;
}

.project-title {
  color: white;
  margin: 0;
  font-weight: 600;
  padding-left: 5vw;
  font-size: 5.5vw;
  font-family: 'Source Sans 3';
  margin-bottom: 4vw;
}

.project-description {
  color: #d2e2fd;
  font-family: 'Source Sans 3';
  font-size: 4.2vw;
  padding-left: 5vw;
  width: 90%;
  margin-bottom: 14vw;
}

.project-github {
  width: 7vw;
  padding-left: 5vw;
  transition: transform 0.25s;
}

.project-github:hover {
  transform: translateY(-4px);
}
.project-tablet {
  display: none;
}
.project-desktop {
  display: none;
}
.project-overlay-tablet {
  display: none;
}
.project-overlay-desktop {
  display: none;
}

@media (min-width: 768px) {
  .someofmy-text {
    font-size: 32px;
  }

  .project-mobile {
    display: none;
  }

  .project-container-tablet {
    position: relative;
    left: 0px;
    overflow: hidden;
    width: 668px;
    height: 418px;
  }

  .project-tablet {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 3px;
  }

  .project-overlay-tablet {
    border: none;
    width: 100%;
    height: 100%;
    background-color: rgba(59, 61, 88, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  
    display: flex;
    flex-direction: column;
  
    border-radius: 3px;
  }

  .featured-project {
    font-size: 18px;
  }

  .project-title {
    font-size: 26px;
  }

  .project-description {
    font-size: 20px;
  }

  .project-github {
    width: 36px;
  }
}

@media (min-width: 769px) {
  .someofmy-container {
    margin-bottom: 9vw;
  }

  .someofmy-number {
    font-size: 21px;
  }
  
  .someofmy-text {
    font-size: 28px;
  }
  
 
    
  .project-container-desktop {
    position: relative;

    height: 30vw;
    width: 45vw;
    overflow: hidden; /* Add this line */

  }

  .project-desktop {
    
    display: block;
    width: 100%;
    height: 100%;
  }

  .project-overlay-desktop {
    border: none;
    height: 100%;
    width: 100%;
    background-color: rgba(59, 61, 88, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  
    display: flex;
    flex-direction: column;
  
    border-radius: 3px;
  }
  


  .project-mobile {
    display: none;
  }
  .project-tablet {
    display: none;
  }
  .project-overlay-mobile {
    display: none;
  }
  .project-overlay-tablet {
    display: none;
  }
  .project-container-mobile {
    display: none;
  }
  .project-container-tablet {
    display: none;
  }
  
}
