.projects-container {
  margin: 0 auto; /* Center horizontally */
  padding: 0 6vw;
  margin-bottom: 7vw;
}

.someofmy-number {
  font-size: 3.8vw;
  font-family: 'SF Mono';
  color: #ef233c;
  font-weight: 400;
}

.someofmy-text {
  font-size: 6.2vw;
  font-weight: 600;
  color:  white;
  margin-top: 0;
  font-family: 'Source Sans 3';
}

.test {
  margin-top: 20px;
}

.project-container-mobile {
  position: relative;
  left: 0px;
  overflow: hidden;
}

.project-mobile {
  height: 100%;
  width: 100%;
  z-index: 0;
  border-radius: 3px;
}

.project-overlay-mobile {
  border: none;
  height: 99.1%;
  width: 100.2%;
  background-color: rgba(59, 61, 88, 0.97);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  display: flex;
  flex-direction: column;

  border-radius: 3px;
}

.featured-project {
  color: #8d99ae;
  font-family: 'SF Mono';
  font-size: 3.2vw;
  font-weight: 600;
  margin: 0;
  padding-top: 7vw;
  padding-left: 5vw;
  margin-bottom: 1.5vw;
}

.project-title {
  color: white;
  margin: 0;
  font-weight: 600;
  padding-left: 5vw;
  font-size: 5.5vw;
  font-family: 'Source Sans 3';
  margin-bottom: 4vw;
}

.project-description {
  color: #d2e2fd;
  font-family: 'Source Sans 3';
  font-size: 4.2vw;
  padding-left: 5vw;
  width: 90%;
  margin-bottom: 14vw;
}

.project-github {
  width: 7vw;
  padding-left: 5vw;
  transition: transform 0.25s;
}

.project-github:hover {
  transform: translateY(-4px);
}
.project-tablet {
  display: none;
}
.project-desktop {
  display: none;
}
.project-overlay-tablet {
  display: none;
}
.project-overlay-desktop {
  display: none;
}
.project-texts-container {
  display: none;
}

@media (min-width: 768px) {
  .someofmy-text {
    font-size: 32px;
  }

  .project-mobile {
    display: none;
  }

  .project-container-tablet {
    position: relative;
    left: 0px;
    overflow: hidden;
    width: 668px;
    height: 418px;
  }

  .project-tablet {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 3px;
  }

  .project-overlay-tablet {
    border: none;
    width: 100%;
    height: 100%;
    background-color: rgba(59, 61, 88, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  
    display: flex;
    flex-direction: column;
  
    border-radius: 3px;
  }

  .featured-project {
    font-size: 18px;
  }

  .project-title {
    font-size: 26px;
  }

  .project-description {
    font-size: 20px;
  }

  .project-github {
    width: 36px;
  }
}


@media (min-width: 769px) {
  .projects-container {
    padding: 0 15vw;
  }

  .project-image-container {
    position: relative;
  }

  .someofmy-container {
    margin-bottom: 9vw;
  }

  .someofmy-number {
    font-size: 21px;
  }
  
  .someofmy-text {
    font-size: 28px;
  }
  
  .project-container-desktop {
    display: flex;
    position: relative;

    height: 25vw;
    width: 70vw;
    overflow: hidden; /* Add this line */
    z-index: 0;
  }

  .project-desktop {
    
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 3px;
  }

  .desktop-hover-overlay {
    border: none;
    height: 100%;
    width: 100%;
    background-color: rgba(59, 61, 88, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  
    display: flex;
    flex-direction: column;
  
    border-radius: 3px;

    opacity: 1; /* Start with full transparency */
    transition: opacity 0.15s;
  }

  .project-image-container:hover .desktop-hover-overlay {
    opacity: 0; /* Change opacity on hover */
  }
  
  .project-overlay-desktop {
    background: #7e8ba1;
    width: 60%;
    height: 40%;
    position: absolute;
    top: 7vw;
    left: 24vw;
    z-index: 3;
    padding-top: 1.8vw;
    padding-bottom: 1.8vw;
    padding-left: 0.3vw;
    padding-right: 2.5vw;
    text-align: right;

    display: flex;
    justify-content: right;
    align-items: center;

    border-radius: 5px;
  }

  .project-description {
    margin: 0;
    padding: 0;
    font-size: 1.7vw;
    width: 95%;
  }

  .project-texts-container {
    width: 30vw;
    height: 20vw;
    display: block;
    justify-content: right;
    text-align: right;
    padding-right: 1.5vw;
  }

  .featured-project {
    font-size: 1.7vw;
    padding: 0;
    margin-bottom: 0;
  }
  .project-title {
    font-size: 3vw;
    padding: 0;
    margin-bottom: 15.8vw;
  }
  .project-github {
    width: 3.5vw;
    position: absolute;
    bottom: 0;
    right: 1.2vw;
  }

  .someofmy-container {
    margin-bottom: 3vw;
  }

  .project-mobile {
    display: none;
  }
  .project-tablet {
    display: none;
  }
  .project-overlay-mobile {
    display: none;
  }
  .project-overlay-tablet {
    display: none;
  }
  .project-container-mobile {
    display: none;
  }
  .project-container-tablet {
    display: none;
  }
  
}

@media (min-width: 1000px) {
  .featured-project {
    font-size: 1rem;
    margin-bottom: 0.7vw;
  }
  .project-title {
    font-size: 2rem;
  }
  .project-description {
    font-size: 1rem;
  }
  .project-github {
    width: 30px;
    padding: 0;
  }
  .project-overlay-desktop {
    max-width: 70%; /* Limit the width to 70% of the parent container */
    max-height: 10vh;
  }
  .someofmy-text {
    font-size: 32px;
  }
  
}

@media (min-width: 1300px) {

}
